{% include 'header.html' %}
<body>

<style type="text/css">
/*.tarjeta {
	width:500px; 
	height:300px; 
}
.front {	
	background:url('{{pathImageCardFront}}')
}

.back {
	background:url('{{pathImageCardBack}}')
}
*/
.content_print {
    margin: 0 auto;
    width: 500px;
}

.tarjeta.front {
    position: relative;
}

.label {
    bottom: 34px;
    display: block;    
    left: 0;
    margin: 0 auto;    
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

.space { padding:10px; display:block; }

.content_print { padding:0 150px;}

</style>

<div class="container">
	<div class="top"><span class="titulo">Tarjeta de Beneficios</span></div>
	
	<div class="content_print">

		<div style="height:55px; margin:0 auto; color:#434343; font-size:14px; text-align: left"> <a href="javascript:window.print()"> Imprimí tu tarjeta de beneficios.</a> <br /> </div>

		<div class="tarjeta front">
			<img src="{{pathImageCardFront}}">
			<div class="label">
				{{user.name}}  {{user.surname}}  - {{user.document}}
			</div>
		</div>

		<div class="space"></div>

		<div class="tarjeta back"><img src="{{pathImageCardBack}}"></div>

	</div>

</div>

</body>
</html>


